<div class="container alert alert-danger mt-5 text-center" style="width: 80%">
  <h2>Error</h2>
  <h3>{{title}}</h3>
  <button type="button" class="btn btn-dark" id={{id}}>Volver</button>
</div>
{{! <script src="/events.js"></script> }}