<div class="container">
  <h1 class="text-center mt-10">Products from Faker</h1>
  <div id="no-products-text-test" class="text-white text-center">No hay
    productos</div>
  <div id="faker-table" style="display:none">
    <table
      class="table table-dark table-striped mx-auto"
      style="width: 900px; max-width: 90%"
    >
      <thead>
        <tr>
          <th scope="col">Producto</th>
          <th scope="col">Precio</th>
          <th scope="col">Imágen</th>
        </tr>
      </thead>
      <tbody id="table-test"></tbody>
    </table>
  </div>
</div>